@charset "utf-8";

#wrap{
   width: 1200px;
   height: 800px;
   margin: 0 auto;
   background-color: pink;
}

section{
   display: flex;
   flex-direction: row;
   width: 1200px;
   background-color: black;
}

section>p{
   display: block;
   width: 70%;
   height: 500px;
   background-color: red;
   border: 1px solid red;
}

section>.thmbs{
   display: block;
   width: 30%;
   height: 450px;
   background-color: blue;
}

